:root {
    --red-color: #c21a1a;
    --green-color: #1bbd28;
    --blue-color: #1824c4;
    --black-color:#000000;
  }

$btn-primary-color: #3980ED;
$btn-secondary-color: #6c757d;
$btn-success-color: #28a745;
$btn-danger-color: #dc3545;
$btn-white-color:#FFF;
$black:#000000;
$blues:#051441;
$blueLight:#3980ED;
$danger:#dc3545;
$secondary-color:#A9A7B6;
$gray:#F9F8FE;
$white:#FFF;
