@import './reset.scss','./buttons.scss','./fonts.scss';

body {
  font-family: 'Roboto';
  color: $blues;
}
.Toastify {
  font-size: 1.6rem;
  color: $blueLight;
  width: 15rem;

 
  &__toast-body{
 color: black;
 gap: 1rem;

  }
  &__toast{
   width: 27rem;
  }
}

